S3method(.DollarNames,ExpressionMix)
S3method(DataSource,GEDdata_entry)
S3method(DataSource,default)
S3method(barplot,MarkerList)
S3method(beeswarm,MarkerList)
S3method(boxplotBy,NMF)
S3method(boxplotBy,default)
S3method(cbind,ExpressionSet)
S3method(csTopTable,NMFfit)
S3method(csTopTable,NMFfitX)
S3method(csTopTable,array)
S3method(csTopTable,ged_DSection)
S3method(csTopTable,ged_csSAM)
S3method(csTopTable,matrix)
S3method(csplot,NMFfit)
S3method(csplot,NMFfitX)
S3method(csplot,ged_csSAM)
S3method(format,GEDalgorithm_entry)
S3method(format,GEDalgorithm_registry)
S3method(format,GEDdata_entry)
S3method(format,GEDdata_registry)
S3method(format,GEDmarkers_entry)
S3method(format,GEDmarkers_registry)
S3method(hist,MarkerList)
S3method(kappa,MarkerList)
S3method(print,CellMix_info)
S3method(print,GEDalgorithm_registry)
S3method(print,GEDdata_registry)
S3method(print,GEDmarkers_registry)
S3method(print,MarkerList)
S3method(print,MarkerList_summary)
S3method(profplot,MarkerList)
S3method(quantile,ExpressionSet)
S3method(screeplot,MarkerList)
S3method(selectMarkers,MarkerList)
S3method(selectMarkers,markerScore)
S3method(selectMarkers,markerScore_HSD)
S3method(selectMarkers,markerScore_scorem)
S3method(sort,MarkerList)
S3method(stack,MarkerList)
S3method(stripchart,MarkerList)
S3method(subset,MarkerList)
S3method(unstack,stackedMarkerList)
S3method(xtable,GEDalgorithm_registry)
S3method(xtable,GEDdata_registry)
S3method(xtable,GEDmarkers_registry)
export("annotation<-")
export("featureNames<-")
export("geneIdType<-")
export("geneIds<-")
export("geneValues<-")
export("mixData<-")
export("sampleNames<-")
export(.gedlab)
export(CellMix)
export(DSAproportions)
export(DSection)
export(ExpressionMix)
export(GEDStrategy)
export(GEDdownload)
export(GEDpath)
export(MarkerList)
export(MarkerSetCollection)
export(addNames)
export(annotation)
export(anyRequired)
export(applyBy)
export(asCBC)
export(asGeneIdentifierType)
export(attachMarkers)
export(barplot.MarkerList)
export(basismarkermap)
export(bioc2gpl)
export(biocann_map)
export(biocann_mapname)
export(biocann_object)
export(biocann_pkgname)
export(biocann_pkgobject)
export(boxplotBy)
export(cbind.ExpressionSet)
export(cellMarkers)
export(cellMarkersInfo)
export(cellmix.getOption)
export(cellmix.options)
export(cellmix.printOptions)
export(cellmix.resetOptions)
export(checkConstraints)
export(colApplyBy)
export(colMaxsBy)
export(colMeansBy)
export(colMediansBy)
export(colSumsBy)
export(combine)
export(convertIDs)
export(csTopTable)
export(csplot)
export(details)
export(dropvalues)
export(enforceMarkers)
export(eset)
export(expb)
export(exprs)
export(extractMarkers)
export(featureNames)
export(flatten)
export(gCBC)
export(gMarkerList)
export(ged)
export(gedAlgorithm)
export(gedAlgorithmInfo)
export(gedBlood)
export(gedCheck)
export(gedData)
export(gedDataInfo)
export(gedProportions)
export(gedRequired)
export(gedWrapper)
export(geneIdType)
export(geneIds)
export(geneValues)
export(getAnnotation)
export(getGSE)
export(getMarkers)
export(gmarkers)
export(gpl2bioc)
export(hasAnnotation)
export(hasDuplicated)
export(hasValues)
export(idFilter)
export(idFilterAffy)
export(idFilterAll)
export(idFilterAuto)
export(idFilterFirstN)
export(idFilterInjective)
export(idFilterMAuto)
export(idFilterOneToMany)
export(idFilterOneToOne)
export(idtype)
export(is.anndb)
export(is.annpkg)
export(is.idtype)
export(is.probeid)
export(is.probetype)
export(isMarkerList)
export(isRequired)
export(is_logscale)
export(log_transform)
export(lpure)
export(mapIDs)
export(markerScoreAbbas)
export(markerScoreHSD)
export(markerScoreMaxcol)
export(markerScoreMethod)
export(markerScoreScorem)
export(markermap)
export(marknames)
export(match.cell)
export(match.nmf)
export(matchIndex)
export(maxConstraint)
export(mixData)
export(mixedSamples)
export(mlsei)
export(mltype)
export(nmark)
export(nmf)
export(npure)
export(nuIDdecode)
export(onlyRequired)
export(propplot)
export(pureSamples)
export(rMarkerList)
export(refCBC)
export(removeGEDData)
export(removeGEDMethod)
export(removeMarkerList)
export(reorder)
export(reverse)
export(rmDuplicated)
export(rmarkers)
export(rmix)
export(rowApplyBy)
export(rowMaxsBy)
export(rowMeansBy)
export(rowMediansBy)
export(rowSumsBy)
export(rproportions)
export(rpure)
export(sampleNames)
export(scoreMarkers)
export(selectGEDMethod)
export(selectMarkers)
export(setGEDData)
export(setGEDMethod)
export(setMarkerList)
export(showData)
export(subsetML)
export(userData)
export(wpure)
export(xsanitize)
exportClasses(ExpressionMix)
exportClasses(MarkerList)
exportClasses(MarkerSetCollection)
exportMethods("[")
exportMethods("dimnames<-")
exportMethods("featureNames<-")
exportMethods("geneIds<-")
exportMethods("sampleNames<-")
exportMethods(.DollarNames)
exportMethods(.atrack)
exportMethods(Compare)
exportMethods(annotation)
exportMethods(basis)
exportMethods(coef)
exportMethods(dim)
exportMethods(dimnames)
exportMethods(dims)
exportMethods(drop)
exportMethods(exp)
exportMethods(expb)
exportMethods(exprs)
exportMethods(idtype)
exportMethods(log)
exportMethods(mapIdentifiers)
exportMethods(marknames)
exportMethods(matchIndex)
exportMethods(nbasis)
exportMethods(range)
exportMethods(reorder)
exportMethods(revmap)
exportMethods(sapply)
exportMethods(show)
exportMethods(subset)
exportMethods(summary)
import(AnnotationDbi)
import(Biobase)
import(DBI)
import(GSEABase)
import(NMF)
import(annotate)
import(beeswarm)
import(csSAM)
import(genefilter)
import(graph)
import(limSolve)
import(pkgmaker)
import(quadprog)
import(stringr)
importFrom(BiocGenerics,combine)
importFrom(corpcor,pseudoinverse)
importFrom(genefilter,rowttests)
importFrom(graphics,barplot)
importFrom(gtools,rdirichlet)
importFrom(preprocessCore,normalize.quantiles)
importFrom(registry,match_partial_ignorecase)
importFrom(utils,stack)
importFrom(utils,unstack)
importFrom(xtable,xtable)
importMethodsFrom(BiocGenerics,sapply)
importMethodsFrom(GSEABase,details)
importMethodsFrom(GSEABase,mapIdentifiers)
